@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    /* Default font */
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.filter-btn.active {
  background-color: #e5e7eb; /* This is the Tailwind gray-200 color */
  color: #000; /* Optional: adjust text color if needed */
}